.card{
    @apply bg-white border-[1px] border-gray-300 rounded-md;
    @apply flex hover:scale-105 transition-all shadow-lg;
    @apply flex-wrap justify-between cursor-pointer;
    
    img{
        object-fit: cover;
        height: 200px;
        min-width: 200px;
        width: 200px;
        @apply rounded-md m-1;
        @media screen and (max-width: 700px){
            width: 100%;
        }
    }
    .info{
        @apply m-4 flex flex-col flex-1;
        .title{
            @apply text-lg font-medium mb-2;
            .type{
                @apply font-normal text-base text-blue-500;
            }
        }
        .description{
            @apply line-clamp-2;
        }
        .baseInfo{
            @apply flex justify-between items-end my-2 text-sm flex-1;
            .location{
                @apply flex gap-2 text-gray-500 items-center whitespace-nowrap overflow-ellipsis;
            }
            .rating{
                @apply flex gap-2 text-blue-500 items-center whitespace-nowrap overflow-ellipsis;
            }
            .col{
                @apply flex gap-2 flex-wrap;
            }
        }
        .statuses{
            @apply flex justify-between items-end text-sm;
            .owner{
                @apply flex gap-2 text-gray-500;
            }
            .tasks{
                @apply flex gap-2 text-blue-500;
            }
        }
    }
}