.wrapper{
    flex: 1;
    min-height: 150px;
    @apply flex;
    flex-direction: column;
    position: relative;
    .header{
        @apply flex items-center flex-col;
        position: relative;
        .tab{
            flex: 1;
            @apply px-2 py-1 m-2 font-medium text-gray-500 transition-all;
            @apply border-[1px] border-gray-300 rounded-md bg-white ;
            width: 100%; 
            &.selected{
                @apply text-blue-500 border-blue-500;
            }
            z-index: 2;
            @apply flex gap-2 items-center justify-center;
        }
    }
    .tabBody{
        overflow-y: scroll;
        /* flex: 1; */
        @apply pl-1 pb-2;
        &::-webkit-scrollbar {
            padding: 1px;
            width: 14px;               
        }
          
        
        &::-webkit-scrollbar-thumb {
            background-color: #0003;
            border: rgb(249 250 251) 4px solid;
            border-radius: 20px;
            &:hover{
                background-color: #0004;

            }
        }
        position: absolute;
        top: 2rem;
        width: 100%;
        bottom: 0;
        opacity: 0;
        transition: 0.3s;
        pointer-events: none;
        &.selected{
            opacity: 1;
            pointer-events: all;
        }
    }
    .taskList{
        @apply flex flex-col gap-2 my-2;
    }
}